body {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  background-color: #EE1D1D;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.nav-logo > img {
  width: 80px;
  object-fit: cover;
}

.nav-bars {
  width: 25px;
}
.nav-bars .line {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 3px;
}

.nav-sidebar {
  position: absolute;
  top: 10vh;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 90vh;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #EE1D1D;
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-link {
  opacity: 0;
}
.nav-link > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin-left: 1em;
  letter-spacing: 1px;
}

.nav-active {
  transform: translateX(0);
  opacity: 1;
}

.banner {
  margin-top: 10vh;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Sen", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
}
.banner h1 {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}
.banner h2 {
  font-family: "Oswald", cursive;
  border-left: 1.5vw solid #EE1D1D;
  box-sizing: border-box;
  padding-left: 0.5em;
}
.banner h2 > span {
  color: #EE1D1D;
}

#about-me {
  overflow-x: hidden;
}

#about-me > h1 {
  text-align: center;
  font-family: "Sen";
  font-size: 2em;
}

.slides {
  display: inline-flex;
  justify-content: space-around;
  height: auto;
}
.slides .slide {
  width: 90vw;
  margin: 0 5vw;
  touch-action: pan-y;
  transition: transform 0.7s ease-in-out;
}

.profil-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.profil-content p {
  font-family: "Montserrat", cursive;
  letter-spacing: 1px;
}
.profil-content mark {
  background-color: #EE1D1D;
  color: #ffffff;
  font-weight: 600;
  padding: 0.175em 0.2em;
}

.profil-description > p:last-child strong {
  font-style: italic;
}

.profil-footer {
  display: flex;
  justify-content: space-evenly;
}
.profil-footer a {
  text-decoration: none;
  color: #ffffff;
  background-color: #EE1D1D;
  padding: 0.35em 0.6em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 425px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 321px) {
  .banner-arrow {
    width: 8vw;
    height: 8.7vh;
  }
}
@keyframes fadeInLeft {
  from {
    transform: translateX(30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes arrowAnimation {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(120%);
  }
}
