@mixin reset-space {
    margin: 0;
    padding: 0;
}

@mixin reset-list {
    @include reset-space();
    list-style: none;
}

@mixin flex($direction:row,$row-value:center,$colum-value:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $row-value;
    align-items: $colum-value;
}