// Nos utilitaires
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Oswald|Sen&display=swap');
@import './variable.scss';
@import './mixin.scss';

// Utilities
html{
    scroll-behavior: smooth;
}

.heading-1{
    font-family: "Sen",$normal-font;
    text-align: center;
    font-size: 2em;
}

// Nos librairies
@import './libs/nav.scss';
@import './libs/header.scss';
@import './libs/aboutme.scss';
@import './libs/course.scss';

// Animation et media queries
@import './libs/animate.scss';